<div class="container" fxShow="true" fxHide.lt-md="false" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
     fxLayoutGap="0%" fxLayoutAlign="center" *ngIf="route.children.length === 0">
  <div fxFlex="100%">
    <mat-grid-list cols="4" rowHeight="445px">
      <mat-grid-tile *ngFor="let tile of tiles" [colspan]="1" [rowspan]="1">
        <app-product-card [product]="tile"></app-product-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   (page)="pageEvent = getServerData($event)">
    </mat-paginator>
  </div>
</div>

<router-outlet></router-outlet>
